@import "reset";
@import "variables";
@import "mixins";


#main-nav {
  background: $deepBlue;
  ul {
    width: 100%;
    @include clearfix;
  }
  li {
    width: (100% / 6);
    float: left;
    @include mQ(600px) {
      width: 100%;
    }
  }
  a {
    color: $offWhite;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    &:hover {
      background-color: lighten($deepBlue, 8)
    }
  }
} // end #main-nav

section h1 {
  font-size: $sectionHeading;
  color: $deepBlue;
}

.lead-banner {
  @include banner;
  text-align: right;
}

.lessons-banner {
  @include banner;

}

#services {
  margin-bottom: 60px;
  li {
    box-sizing: border-box;
    float: left;
    text-align: center;
    width: (100% / 3);
  }
  img {
    width: 60%;
    margin: 20px 20%;
  }
  a {
    text-decoration: none;
    color: $deepBlue;
    &:hover{
      color: complement($deepBlue);
    }
  }
  ul {
    @include clearfix;
    
  }
} // end #services

#projects li {

  @include grid(4, 2%);

  img {
    width: 100%;
  }

}    